---
import { mdToHtml } from '../../utils/markdown.ts'

const { icon, title, content } = Astro.props as CMS.FeaturesBlockItem
---

<article>
  <svg>
    <use xlink:href={`/assets/sprites.svg#${icon}`}></use>
  </svg>

  <div>
    <h4 class='h3'>{title}</h4>
    <p>{mdToHtml(content)}</p>
  </div>
</article>