---
import Icon from "../Icon.astro";
import type { FeaturesBlock } from "../../content/config";
import Markdown from "../Markdown.astro";

const { icon, title, content } = Astro.props as FeaturesBlock["items"][0];
---

<article>
  <Icon id={icon} />

  <div>
    <h4 class="h3">{title}</h4>
    <p>
      <Markdown md={content} />
    </p>
  </div>
</article>
