---
import Icon from '../Icon.astro'
import { mdToHtml } from '../../utils/markdown.ts'

const { icon, title, content } = Astro.props as CMS.FeaturesBlockItem
---

<article>
  <Icon id={icon} />

  <div>
    <h4 class="h3">{title}</h4>
    <p>{mdToHtml(content)}</p>
  </div>
</article>
