---
import clsx from 'clsx'
import Show from '../Show.astro'

const {
  title,
  subtitle,
  alt = false,
  id,
  class: className = '',
} = Astro.props as CMS.BaseBlock & { class: string }
---

<section class={`${className} ${clsx({ alt })}`} {id}>
  <div class="container">
    <Show when={!!title}>
      <h2 class="h6">
        <strong>{title}</strong>
      </h2>
    </Show>

    <Show when={!!subtitle}>
      <h3 class="h2">{subtitle}</h3>
    </Show>

    <slot />
  </div>
</section>

<style>
  h2 {
    text-transform: uppercase;
  }
</style>
