---
import Show from "../Show.astro";
import type { BaseBlock } from "../../content/config";

const {
  title,
  subtitle,
  alt = false,
  id,
  class: className = "",
} = Astro.props as BaseBlock & { class: string };
---

<section class:list={[className, { alt }]} {id}>
  <div class="container">
    <Show when={!!title}>
      <h2 class="h6">
        <strong>{title}</strong>
      </h2>
    </Show>

    <Show when={!!subtitle}>
      <h3 class="h2">{subtitle}</h3>
    </Show>

    <slot />
  </div>
</section>

<style>
  h2 {
    text-transform: uppercase;
  }
</style>
