---
interface Props {
    title: string;
    badges: { title: string, logo: string }[];
}

const { title, badges }: Props = Astro.props;
---

<div class="badges">
    <h4 class="h6"><strong>{title}<strong></h4>

    <ul>
        {badges.map(({ logo, title }) => (
            <li>
                <svg class='badge__icon'>
                    <title>{title}</title>
                    <use xlink:href={logo} />
                </svg>
            </li>
        ))}
    </ul>
</div>