---
const year = new Date().getFullYear();
---

<footer>
	<div class="container">
		<ul class="social">
			<li>
				<a href="mailto:info@navillus.nl">
					<span class="sr-only">Email us at info@navillus.nl</span>
					<svg viewBox="0 0 216 216" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M108,0C48.353,0,0,48.353,0,108s48.353,108,108,108s108-48.353,108-108S167.647,0,108,0z M156.657,60L107.96,98.498 L57.679,60H156.657z M161.667,156h-109V76.259l50.244,38.11c1.347,1.03,3.34,1.545,4.947,1.545c1.645,0,3.073-0.54,4.435-1.616 l49.374-39.276V156z" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/navillus_dev" rel="me">
					<span class="sr-only">Find us on Twitter</span>
					<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
						<path
							d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm116.886719 199.601562c.113281 2.519532.167969 5.050782.167969 7.59375 0 77.644532-59.101563 167.179688-167.183594 167.183594h.003906-.003906c-33.183594 0-64.0625-9.726562-90.066406-26.394531 4.597656.542969 9.277343.8125 14.015624.8125 27.53125 0 52.867188-9.390625 72.980469-25.152344-25.722656-.476562-47.410156-17.464843-54.894531-40.8125 3.582031.6875 7.265625 1.0625 11.042969 1.0625 5.363281 0 10.558593-.722656 15.496093-2.070312-26.886718-5.382813-47.140624-29.144531-47.140624-57.597657 0-.265624 0-.503906.007812-.75 7.917969 4.402344 16.972656 7.050782 26.613281 7.347657-15.777343-10.527344-26.148437-28.523438-26.148437-48.910157 0-10.765624 2.910156-20.851562 7.957031-29.535156 28.976563 35.554688 72.28125 58.9375 121.117187 61.394532-1.007812-4.304688-1.527343-8.789063-1.527343-13.398438 0-32.4375 26.316406-58.753906 58.765625-58.753906 16.902344 0 32.167968 7.144531 42.890625 18.566406 13.386719-2.640625 25.957031-7.53125 37.3125-14.261719-4.394531 13.714844-13.707031 25.222657-25.839844 32.5 11.886719-1.421875 23.214844-4.574219 33.742187-9.253906-7.863281 11.785156-17.835937 22.136719-29.308593 30.429687zm0 0" />
					</svg>
				</a>
			</li>
		</ul>

		<ul class="links">
			<li>
				<a class="h6" href="/privacy">Privacy Policy</a>
			</li>
			<li>
				<a class="h6" href="/terms">Terms & Conditions</a>
			</li>
			<li>
				<a class="h6" href="/#contact">Contact Us</a>
			</li>
		</ul>

		<div class="legal">
			<div>© {year} Navillus B.V.</div>

			<small>
				Icons made by
				<a href="https://www.freepik.com" class="underline" title="Freepik">Freepik</a>
				from
				<a href="https://www.flaticon.com/" class="underline" title="Flaticon">
					www.flaticon.com
				</a>
			</small>
		</div>
	</div>
</footer>

<style lang="scss">
	footer {
		background: var(--chisel-neutral-50);
		margin-top: 0;
	}

	a {
		color: var(--chisel-neutral-900);
	}

	.container {
		padding-top: var(--spacer-lg);
		padding-bottom: var(--spacer-lg);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--spacer-md);
	}

	.social {
		display: flex;
		flex-direction: row;
		gap: var(--spacer-sm);

		& svg {
			height: var(--chisel-h1);
			width: var(--chisel-h1);
			overflow: visible;
		}
	}

	.links {
		display: flex;
		flex-direction: row;

		& a {
			text-decoration: underline;
			padding: 0 var(--spacer-xs);

			@media (min-width: 480px) {
				& {
					padding: 0 var(--spacer-sm);
					font-size: var(--chisel-p);
				}
			}
		}

		& li {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			&:not(:last-of-type) {
				border-right: 1px solid currentColor;
			}
		}
	}

	.legal {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
