---
import Footer from '../components/Footer.astro'
import MainHead from '../components/MainHead.astro'
import Navigation from '../components/Navigation.astro'
import { getSeo, WithContent } from '../utils/seo.ts'

const { content, ...page } = Astro.props as WithContent<CMS.Page>
const seo = getSeo(page)
---

<html lang="en">
  <head>
    <MainHead {seo} />
  </head>

  <body>
    <a id="skip-to-content" href="#main" class="sr-only sr-only-focusable">
      Skip to content
    </a>

    <Navigation pathname={Astro.request.url.pathname} />

    <main id="main">
      <slot />

      {content?.html}
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    font-size: var(--text-base);
    line-height: 1.75;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 0;
  }

  a[href='#main'].sr-only.sr-only-focusable {
    top: var(--spacer-xs);
    left: var(--spacer-xs);
    background: var(--chisel-neutral-900);
    color: var(--chisel-neutral-50);
    padding: var(--spacer-xs);
    z-index: 1;
  }
</style>
