---
import Layout, { type Props as LayoutProps } from "./Page.astro";
import Show from "../components/Show.astro";
import UIBlock from "../components/blocks/UIBlock.astro";
import { formatDate } from "../utils/dates.ts";
import type { CollectionEntry } from "astro:content";
import { site } from "../data/site";

const page = Astro.props as CollectionEntry<"pages">;

const lastUpdated =
  page.data.last_modified_at && formatDate(page.data.last_modified_at);

const seo: LayoutProps = {
  name: site.title,
  title: page.data.title,
  description: page.data.description,
  image: page.data.social_image,
};
---

<Layout {...seo}>
  <UIBlock alt>
    <h1>{page.data.title}</h1>

    <Show when={!!lastUpdated}>
      <p>Last Updated: {lastUpdated}</p>
    </Show>

    <slot />
  </UIBlock>
</Layout>

<style>
  h1 {
    margin-bottom: var(--spacer-xs);
  }

  p {
    margin-bottom: var(--spacer-md);
  }
</style>
